<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum Senai</title>
    <link rel="stylesheet" href="/css/paginaPrincipal.css">
    <link href='https://fonts.googleapis.com/css?family=ADLaM Display' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <h1>Fórum Senai</h1>
        <nav>
            <a href="#" id="nome-usuario"></a>
            {{#if usuarioLogado}}
            {{usuarioLogado.nome}}
            <a href="/deslogar" id="deslogar">Deslogar</a>
            {{else}}
            <a href="http://localhost:3000/login" id="login">Login</a>
            <a href="/cadastroUsuario" id="cadastro">Cadastrar</a>
            {{/if}}

            <span id="info-usuario" style="display: none;">

            </span>
        </nav>

    </header>

    {{#if usuarioLogado}}
    <div class="container">
        <button class="botao-novo-post btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNovoPost">Criar
            novo
            post</button>
    </div>
    {{/if}}

    <div class="container" id="posts">
        {{#each postagens}}
        <div class="modal-corpo">
            <div class="post">
                <a style="text-decoration: none; color:inherit" href="/?idPost={{this.id}}"><label
                        for="titulo-novo-post">{{this.titulo}}</label></a>
                <form action="/postage/curtida/{{this.id}}" method="POST">
                    {{#if this.curtido}}
                    <button class="btn btn-light" type="submit"><i class="bi bi-heart-fill" style="color: red;"></i>
                        {{this.curtidas}}
                    </button>
                    {{else}}
                    <button class="btn btn-light" type="submit"><i class="bi bi-heart" style="color: red;"></i>
                        {{this.curtidas}}
                    </button>
                    {{/if}}
                </form>
            </div>
            {{/each}}
        </div>


        {{#if postAberto}}
        <!-- Modal para exibir post -->
        <div id="modalPost" class="modal">
            <div class="modal-conteudo">
                <div class="modal-cabecalho">
                    <button type="button" class="btn-close" data-bs-dismiss="modalPost" aria-label="Close"></button>
                    <h2 id="modal-titulo">{{postAberto.titulo}}</h2>
                    <span id="modal-curtidas">0 Curtidas</span>
                    {{#if this.curtido}}
                    <button class="btn btn-light" type="submit"><i class="bi bi-heart-fill" style="color: red;"></i>
                        {{this.curtidas}}
                    </button>
                    {{else}}
                    <button class="btn btn-light" type="submit"><i class="bi bi-heart" style="color: red;"></i>
                        {{this.curtidas}}
                    </button>
                    {{/if}}
                </div>


                <form action="/postage/comentar/{{postAberto.id}}" method="post">

                    <div class="modal-corpo">
                        <div class="info-post">
                            <span id="modal-autor">Autor: {{postAberto.autor}}</span>
                            <span id="modal-horario">Horário: {{postAberto.dataHora}}</span>
                        </div>
                        <div class="descricao-post" id="modal-descricao">
                            <p>{{postAberto.conteudo}}</p>
                        </div>


                        <div class="card" id="posts">

                            <div class="comentarios" id="modal-comentarios">
                                <!-- Comentários  -->

                                {{#each postAberto.comentarios}}
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.autor_comentario}}</h5>
                                        <h6>Horário: {{this.dataHora}}</h6>
                                        <p class="card-text">{{this.conteudo}}</p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="modal-rodape">
                        <input name="conteudo" type="text" id="input-comentario"
                            placeholder="Adicionar um comentário...">
                        <button id="botao-comentario"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>

        </div>
        {{/if}}



        <form action="/criar" method="post">
            <!-- Modal para criar novo post -->
            <div id="modalNovoPost" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar">&times;</span>
                    <div class="modal-cabecalho">
                        <h2>Criar Novo Post</h2>
                    </div>

                    <div class="modal-rodape">
                        <label for="titulo">Título</label>
                        <input type="text" id="question" name="titulo" placeholder="Seu título">
                        <label for="descrição">Descrição</label>
                        <input type="text" id="answer" name="conteudo" placeholder="Seu conteúdo">
                        <button type="submit" id="botao-criar-post">Criar Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </form>


    <footer>
        SITUAÇÃO DE APRENDIZAGEM | Desenvolvedores: Thiago Büttner Conradi, Pablo Southier
    </footer>




    <script>

        document.addEventListener("DOMContentLoaded", function () {

            const modal = document.getElementById("modalPost");
            console.log("modal", modal)
            const bootstrapModal = new bootstrap.Modal(modal);
            bootstrapModal.show();

            if (usuarioLogado) {
                document.getElementById("login").style.display = "none";
                document.getElementById("cadastro").style.display = cadastroUsuario;
                document.getElementById("nome-usuario").textContent = nomeUsuario;
                document.getElementById("info-usuario").style.display = "inline";
            }

            const postsContainer = document.getElementById("posts");

            function renderizarPosts() {
                postsContainer.innerHTML = "";
                posts.forEach((post, index) => {
                    const postElement = document.createElement("div");
                    postElement.className = "post";
                    postElement.innerHTML = `
                        <div class="titulo">${post.titulo}</div>
                        <div class="curtir">
                            <!--<div class="coracao" data-curtido="false"></div> -->
                            <i class="coracao bi bi-heart"></i>
                            <span class="contagem-curtidas">${post.curtidas}</span>
                        </div>
                    `;
                    postElement.addEventListener("click", () => abrirModal(post));
                    postsContainer.appendChild(postElement);
                });

                document.querySelectorAll(".curtir .coracao").forEach(coracao => {
                    coracao.addEventListener("click", function (event) {
                        event.stopPropagation(); // Evita que o evento de clique abra a modal
                        const curtido = this.getAttribute("data-curtido") === "true";
                        const contagemCurtidasElement = this.nextElementSibling;
                        let contagemCurtidas = parseInt(contagemCurtidasElement.textContent);

                        if (curtido) {
                            this.setAttribute("data-curtido", "false");
                            this.classList.remove("curtido");
                            this.classList.remove("bi-heart-fill");
                            this.classList.add("bi-heart")
                            contagemCurtidasElement.textContent = contagemCurtidas - 1;
                        } else {
                            this.setAttribute("data-curtido", "true");
                            this.classList.add("curtido");
                            this.classList.add("bi-heart-fill")
                            this.classList.remove("bi-heart")
                            contagemCurtidasElement.textContent = contagemCurtidas + 1;
                        }
                    });
                });
            }

            renderizarPosts();

            // Funcionalidade da modal de exibição de post
            const modalPost = document.getElementById("modalPost");
            const fecharModalPost = document.querySelector("#modalPost .close");

            function abrirModal(postAberto) {
                document.getElementById("modal-titulo").textContent = post.titulo;
                document.getElementById("modal-curtidas").textContent = `${post.curtidas} Curtidas`;
                document.getElementById("modal-autor").textContent = `Autor: ${post.autor}`;
                document.getElementById("modal-horario").textContent = `Horário: ${post.horario}`;
                document.getElementById("modal-descricao").textContent = post.descricao;

                const comentariosContainer = document.getElementById("modal-comentarios");
                comentariosContainer.innerHTML = "";
                post.comentarios.forEach(comentario => {
                    const comentarioElement = document.createElement("div");
                    comentarioElement.className = "comentario";
                    comentarioElement.innerHTML = `<strong>${comentario.autor}</strong> ${comentario.horario}<br>${comentario.texto}`;
                    comentariosContainer.appendChild(comentarioElement);
                });

                modalPost.style.display = "block";
            }

            span.onclick = function () {
                modalPost.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modalPost.style.display = "none";

                }
            }

            const botaoComentario = document.getElementById("botao-comentario");
            const inputComentario = document.getElementById("input-comentario");

            botaoComentario.addEventListener("click", () => {
                const novoComentario = inputComentario.value.trim();
                if (novoComentario) {
                    const comentarioElement = document.createElement("div");
                    comentarioElement.className = "comentario";
                    comentarioElement.innerHTML = `<strong>${nomeUsuario}</strong> Agora<br>${novoComentario}`;
                    document.getElementById("modal-comentarios").appendChild(comentarioElement);
                    inputComentario.value = "";
                }
            });

            // Funcionalidade da modal de criar novo post
            const modalNovoPost = document.getElementById("modalNovoPost");
            const abrirModalNovoPost = document.querySelector(".botao-novo-post");
            const fecharModalNovoPost = document.querySelector("#modalNovoPost.fechar");

            abrirModalNovoPost.addEventListener("click", (event) => {
                event.preventDefault();
                modalNovoPost.style.display = "block";
            });

            fecharModalNovoPost.addEventListener("click", () => {
                modalNovoPost.style.display = "none";
            });

            window.addEventListener("click", (event) => {
                if (event.target === modalNovoPost) {
                    modalNovoPost.style.display = "none";
                }
            });

            const botaoCriarPost = document.getElementById("botao-criar-post");

            botaoCriarPost.addEventListener("click", () => {
                const titulo = document.getElementById("titulo-novo-post").value.trim();
                const descricao = document.getElementById("descricao-novo-post").value.trim();

                if (titulo && descricao) {
                    const novoPost = {
                        titulo: titulo,
                        curtidas: 0,
                        autor: nomeUsuario,
                        horario: new Date().toLocaleTimeString(),
                        descricao: descricao,
                        comentarios: []
                    };

                    posts.push(novoPost);
                    renderizarPosts();

                    document.getElementById("titulo-novo-post").value = "";
                    document.getElementById("descricao-novo-post").value = "";
                    modalNovoPost.style.display = "none";
                }
            });
        });


    </script>
</body>

</html>